* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(-90deg, aqua, white);
}
.linkedin {
  border: 2px solid blue;
  border-radius: 6px;
  margin: 20% auto;
  height: 14em;
}
.data-user {
  border: 2px solid blue;
  border-radius: 6px;
  margin: 20% auto;
  height: 14em;
  padding: 2em;
  line-height: 2em;
}
#url {
  color: blue;
  font-weight: 900;
}
#btn {
  margin: auto 10em;
}
