* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #283e4a;
}
.linkedin {
  border: 2px solid #fff;
  border-radius: 6px;
  margin: 20% auto;
}
.data-user {
  border: 2px solid #fff;
  border-radius: 6px;
  margin: 20% auto;
  padding: 2em;
  line-height: 2em;
}
#url {
  color: #fff;
  font-weight: 900;
}
#btn {
  margin: auto 10em;
}

.color-t {
  color: #f1eded;
}

p#user, p#headline {
  color: #fff;
}
