<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- <link rel="shortcut icon" href="assets/img/favicon.ico"> -->
    <link rel="stylesheet" href="../css/main.css">
    <title>Linkedln</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="data-user">
            <p id="user" class="center-align"></p>
            <p id="headline" class="center-align"></p>
            <p class="center-align"><a id="url" target="_blank" href="">VER PERFIL COMPLETO</a></p>
            <button id="btn" class="btn-large" type="" name="button">salir</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//platform.linkedin.com/in.js">
      api_key: 86d4zgpke7jwaw
      authorize: true
      // onLoad: onLinkedInLoad
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/view.js"></script>
  </body>
</html>
